[submodule "DeckFinder"]
	path = DeckFinder
	url = https://github.com/XGEu2X/Hearthstone-DeckFinder.git
[submodule "MyCollection"]
	path = MyCollection
	url = https://github.com/edyrol/My-Hearthstone-Collection.git
	
